<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Nos Bénéficiaires</title>
  <link href="{% static 'css/tailwindstyle.css' %}" rel="stylesheet">

</head>
<body class="bg-gray-100 font-sans m-0 p-0">

  <div class="bg-green-600 text-white p-4 text-center">
    <h1 class="text-xl font-bold">Nos Bénéficiaires</h1>
  </div>

  <div class="bg-white p-6 m-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-800">
      LES REMISES DES DONS ET DES RÉCOMPENSES AUX BÉNÉFICIAIRES
    </h2>
  </div>

</body>
</html>
